<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>01姓名案例 插值语法实现</title>
    <script src="/js/vue.js"></script>
  </head>
  <body>
    
    <div id="root">
        姓<input type="text"  v-model="surname"><br>
        名<input type="text" v-model="name"><br>
        <span>{{surname.slice(0,3)}}-{{name}}</span>
    </div>
    <script>
      //01姓名案例 插值语法实现 .html
      Vue.config.productionTip = false;
      new Vue({
          el:"#root"
          ,data:{
            name:"三",
            surname:"张"

          },methods:{


          }
      })
    </script>
  </body>
  
  </html>
  
</body>
</html>